.search {
    display: flex;
    align-items: center;
    font-size: 20px;
}

input {
    height: 2rem;
    margin: 10px;
}

.wrapper {
    background-color: yellow;
    display: flex;
    align-items: flex-end;
}

body {
    background-color: grey;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    margin: 1rem;
}