.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

/*.wrapper {
    background-color: yellow;
    display: flex;
    align-items: flex-end;
}*/

body {
    background-color: grey;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    margin: 1rem;
}

nav h3 {
    color: white;
    margin: 0;
}